.slides {
  background-color: #363B3E;
}

html, body {
  overflow-x: hidden;
  background-color: #363B3E;
}

.slide {
  min-width: 1920px;
  max-width: 1920px;
  min-height: 1080px;
  max-height: 1080px;
  background-color: lightgray;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #0E0F10;
  border-radius: 12px;
}

.canvas-item {
  position: absolute;
  display: flex;
}

text-item {
  white-space: pre-wrap;
}

text-item span {
  align-self: center;
}
