.slides {
  background-color: black;
}

body {
  overflow-x: hidden;
}

.slide {
  min-width: 1920px;
  max-width: 1920px;
  min-height: 1080px;
  max-height: 1080px;
  background-color: lightgray;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.canvas-item {
  position: absolute;
  display: flex;
}

text-item {
  white-space: pre-wrap;
}

text-item span {
  align-self: center;
}
